doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Create User
    body
        h1 Create User
        form(method="post" action="/create/user" enctype="multipart/form-data")
            input(type="hidden", name="key", value=serverHash)
            label Username
            input(type="text", name="username")
            br
            label Email
            input(type="text", name="email")
            br
            label Profile Picture
            input(type="file", name="profile_picture" accept="image/jpeg, image/png")
            br
            button(type="submit") Create User